div.element-container.st-emotion-cache-12k76uj e1f1d6gn4 {
    background-color: #9c9c9c;
    border: 1px solid #090538;
    padding: 20px 20px 20px 70px;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}

<div data-stale="false" width="558" class="element-container st-emotion-cache-12k76uj e1f1d6gn4" data-testid="element-container"><div class="stMarkdown" data-testid="stMarkdown" style="width: 558px;"><div data-testid="stMarkdownContainer" class="st-emotion-cache-cnbvxy e1nzilvr5"><ul>
<li>Устюжанин Илья 😎</li>
<li>Файн Евгений 😎</li>
<li>Шапаренко Владислав 😎</li>
<li>Хасанов Максим 👟</li>
</ul></div></div></div>